<%- include('../partials/header') %>

<div class="container">
  <h1>Choose a New Password</h1>
  <p>Please enter your new password below.</p>

  <form method="POST">
    <div>
      <label for="password">New Password</label>
      <input type="password" id="password" name="password" required>
    </div>
    <br>
    <div>
      <label for="password-confirm">Confirm New Password</label>
      <input type="password" id="password-confirm" name="passwordConfirm" required>
    </div>
    <br>
    <button type="submit">Update Password</button>
  </form>
</div>

<%- include('../partials/footer') %>
