<aside class="dashboard-sidebar">
  <h3>Admin Options</h3>
  <a href="/dashboard">Dashboard Home</a>
  <a href="/admin/donations">Show Donations</a>
  <a href="/admin/feedbacks">Show Feedbacks</a>
  <a href="/admin/ratings">View Ratings</a>
  <a href="/admin/mails">Show Mails</a>
  <a href="/admin/give-notice">Give Notice</aa>
  <a href="/admin/notices">Manage Notices</a>

  <% if (typeof adminRole !== 'undefined' && adminRole === 'owner') { %>
    <a href="/admin/manage-admins">Manage Admins</a>
    <a href="/admin/manage-requests" style="background-color: #ffc107; color: #212529;">Access Requests</a>
  <% } %>

  <hr>
  
  <a href="/admin/change-password">Change Password</a>
  <a href="/logout" class="logout-link">Logout</a>
</aside>
