<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Digi_Rock-multi_solution</title>
  <link rel="stylesheet" href="/css/style.css">
</head>
<body>

  <header class="main-header">
    <div class="logo-container">
      <img src="/images/logo.jpg" alt="Company Logo" class="logo-img">
      <h1>digiROCK       .</h1>
      <p>by Shamanta garai</p>
    </div>
    <nav>
  <a href="/" class="nav-button">Home</a>
  <a href="/contact" class="nav-button1">Contact US</a>
  <a href="/terms" class="nav-button2">Terms & Conditions</a>
  <a href="/login" class="nav-button1">Login</a>
  <a href="/signup" class="nav-button2">Sign Up</a>
  <a href="/donate" class="nav-button1">Donate US</a>
  <a href="/feedback" class="nav-button2">Feedback</a>
  <a href="/rate-us" class="nav-button1">Rate Us</a>
  <a href="/noticeboard" class="nav-button2">Noticeboard</a>

  <a href="/monitor_admin" class="nav-button">Admin Monitor</a>

</nav>
  </header>