<%- include('../partials/header') %>
  <div class="container">
    <h1>Login Page</h1>
    <form>
      <div>
        <label for="email">Email</label>
        <input type="email" id="email" name="email" required>
      </div>
      <br>
      <div>
        <label for="password">Password</label>
        <input type="password" id="password" name="password" required>
      </div>
      <br>
      <button type="submit">Login</button>
    </form>
  </div>
<%- include('../partials/footer') %>