<%- include('../partials/header') %>

<div class="container">
  <h1>Thank You!</h1>
  <p>This is the page for "Make Your Service Digital". More content will be added here soon.</p>
  <br>
  <a href="/">Return to Homepage</a>
</div>

<%- include('../partials/footer') %>
